@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1448353368_1005032.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1448353368_1005032.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1448353368_1005032.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1448353368_1005032.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1448353368_1005032.svg#iconfont') format('svg'); /* iOS 4.1- */
}


.icon {
  font-family:"iconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-daimatuoguan2:before { content: "\e62c"; }
.icon-shoucang:before { content: "\e624"; }
.icon-f12:before { content: "\e600"; }
.icon-similar:before { content: "\e601"; }
.icon-shijian:before { content: "\e602"; }
.icon-icon:before { content: "\e603"; }
.icon-gongnengjianyi:before { content: "\e604"; }
.icon-qitafenleizhuanhuan01:before { content: "\e605"; }
.icon-icon1:before { content: "\e62d"; }
.icon-linux:before { content: "\e606"; }
.icon-back-top:before { content: "\e62e"; }
.icon-cepingjiluguidang:before { content: "\e626"; }
.icon-repairfill:before { content: "\e607"; }
.icon-php:before { content: "\e608"; }
.icon-less:before { content: "\e609"; }
.icon-python:before { content: "\e60a"; }
.icon-socialangular:before { content: "\e60b"; }
.icon-socialnodejs:before { content: "\e60c"; }
.icon-github:before { content: "\e60d"; }
.icon-dengdai:before { content: "\e625"; }
.icon-guanyu:before { content: "\e627"; }
.icon-rss:before { content: "\e60e"; }
.icon-selectfill:before { content: "\e60f"; }
.icon-tag:before { content: "\e610"; }
.icon-write:before { content: "\e611"; }
.icon-level:before { content: "\e612"; }
.icon-gexing:before { content: "\e62f"; }
.icon-planefill:before { content: "\e613"; }
.icon-select2fill:before { content: "\e614"; }
.icon-biaoti:before { content: "\e630"; }
.icon-dianbozhibov1213:before { content: "\e628"; }
.icon-nginx:before { content: "\e615"; }
.icon-iconfontremen:before { content: "\e616"; }
.icon-tupian:before { content: "\e617"; }
.icon-shoucang1:before { content: "\e618"; }
.icon-faxian2:before { content: "\e619"; }
.icon-shoucang2:before { content: "\e61a"; }
.icon-weixinzhifu:before { content: "\e61b"; }
.icon-quanku:before { content: "\e629"; }
.icon-youxiyouxiji:before { content: "\e62a"; }
.icon-google0:before { content: "\e61c"; }
.icon-pinterest:before { content: "\e61d"; }
.icon-qq:before { content: "\e61e"; }
.icon-sina0:before { content: "\e61f"; }
.icon-taobaoyin:before { content: "\e620"; }
.icon-twitter0:before { content: "\e621"; }
.icon-weixin:before { content: "\e622"; }
.icon-zhihu:before { content: "\e623"; }
.icon-shouye:before { content: "\e62b"; }


.demo-menu{
  position:fixed;
  top:0;
  width:100%;
  z-index: 19920626;
  box-shadow: 2px 2px 5px #283176;
}

.demo-menu .btn-group .btn-link{
  padding-left:4px;
  padding-right: 4px;
}

header > h4,
header > h5 {
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.bg-grey {
    background-color: #efefef;
    padding: 1rem;
    border-radius: .3rem;
}
.grid-hero {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.grid-hero h3 {
    margin-bottom: 1.2rem;
}
.grid-hero .notes {
    margin: 1rem 0;
}
.grid-footer {
    color: #888;
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.grid-footer a {
    color: #666;
}
.notes {
    margin: 4rem 0;
    color: #666;
}
.empty .icon {
    font-size: 4rem;
}











/* http://prismjs.com/download.html?themes=prism-okaidia&languages=markup+css+clike+javascript&plugins=line-highlight+line-numbers+show-language+highlight-keywords */
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */
code[class*="language-"],
pre[class*="language-"] {
  color: black;
  background: none;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  overflow-x:scroll;
}

/* Code blocks */
pre[class*="language-"] {
  position: relative;
  margin: .5em 0;
  -webkit-box-shadow: -1px 0px 0px 0px #358ccb, 0px 0px 0px 1px #dfdfdf;
  -moz-box-shadow: -1px 0px 0px 0px #358ccb, 0px 0px 0px 1px #dfdfdf;
  box-shadow: -1px 0px 0px 0px #358ccb, 0px 0px 0px 1px #dfdfdf;
  border-left: 10px solid #358ccb;
  background-color: #fdfdfd;
  background-image: -webkit-linear-gradient(transparent 50%, rgba(69, 142, 209, 0.04) 50%);
  background-image: -moz-linear-gradient(transparent 50%, rgba(69, 142, 209, 0.04) 50%);
  background-image: -ms-linear-gradient(transparent 50%, rgba(69, 142, 209, 0.04) 50%);
  background-image: -o-linear-gradient(transparent 50%, rgba(69, 142, 209, 0.04) 50%);
  background-image: linear-gradient(transparent 50%, rgba(69, 142, 209, 0.04) 50%);
  background-size: 3em 3em;
  background-origin: content-box;
  overflow: visible;
  padding: 0;
}

code[class*="language"] {
  max-height: inherit;
  height: 100%;
  padding: 0 1em;
  display: block;
  overflow: auto;
}

/* Margin bottom to accomodate shadow */
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background-color: #fdfdfd;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 1em;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  position: relative;
  padding: .2em;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  border-radius: 0.3em;
  color: #c92c2c;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: inline;
  white-space: normal;
}

pre[class*="language-"]:before,
pre[class*="language-"]:after {
  content: '';
  z-index: -2;
  display: block;
  position: absolute;
  bottom: 0.75em;
  left: 0.18em;
  width: 40%;
  height: 20%;
  max-height: 13em;
  -webkit-box-shadow: 0px 13px 8px #979797;
  -moz-box-shadow: 0px 13px 8px #979797;
  box-shadow: 0px 13px 8px #979797;
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  transform: rotate(-2deg);
}

:not(pre) > code[class*="language-"]:after,
pre[class*="language-"]:after {
  right: 0.75em;
  left: auto;
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  transform: rotate(2deg);
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #7D8B99;
}

.token.punctuation {
  color: #5F6364;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.function-name,
.token.constant,
.token.symbol,
.token.deleted {
  color: #c92c2c;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.function,
.token.builtin,
.token.inserted {
  color: #2f9c0a;
}

.token.operator,
.token.entity,
.token.url,
.token.variable {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5);
}

.token.atrule,
.token.attr-value,
.token.keyword,
.token.class-name {
  color: #1990b8;
}

.token.regex,
.token.important {
  color: #e90;
}

.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5);
}

.token.important {
  font-weight: normal;
}

.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.namespace {
  opacity: .7;
}

@media screen and (max-width: 767px) {
  pre[class*="language-"]:before,
  pre[class*="language-"]:after {
    bottom: 14px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

}

/* Plugin styles */
.token.tab:not(:empty):before,
.token.cr:before,
.token.lf:before {
  color: #e0d7d1;
}

/* Plugin styles: Line Numbers */
pre[class*="language-"].line-numbers {
  padding-left: 0;
}

pre[class*="language-"].line-numbers code {
  padding-left: 3.8em;
}

pre[class*="language-"].line-numbers .line-numbers-rows {
  left: 0;
}

/* Plugin styles: Line Highlight */
pre[class*="language-"][data-line] {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}
pre[data-line] code {
  position: relative;
  padding-left: 4em;
}
pre .line-highlight {
  margin-top: 0;
}

pre[data-line] {
  position: relative;
  padding: 1em 0 1em 3em;
}

.line-highlight {
  position: absolute;
  left: 0;
  right: 0;
  padding: inherit 0;
  margin-top: 1em; /* Same as .prism’s padding-top */

  background: hsla(24, 20%, 50%,.08);
  background: -moz-linear-gradient(to right, hsla(24, 20%, 50%,.1) 70%, hsla(24, 20%, 50%,0));
  background: -webkit-linear-gradient(to right, hsla(24, 20%, 50%,.1) 70%, hsla(24, 20%, 50%,0));
  background: -o-linear-gradient(to right, hsla(24, 20%, 50%,.1) 70%, hsla(24, 20%, 50%,0));
  background: linear-gradient(to right, hsla(24, 20%, 50%,.1) 70%, hsla(24, 20%, 50%,0));

  pointer-events: none;

  line-height: inherit;
  white-space: pre;
}

  .line-highlight:before,
  .line-highlight[data-end]:after {
    content: attr(data-start);
    position: absolute;
    top: .4em;
    left: .6em;
    min-width: 1em;
    padding: 0 .5em;
    background-color: hsla(24, 20%, 50%,.4);
    color: hsl(24, 20%, 95%);
    font: bold 65%/1.5 sans-serif;
    text-align: center;
    vertical-align: .3em;
    border-radius: 999px;
    text-shadow: none;
    box-shadow: 0 1px white;
  }

  .line-highlight[data-end]:after {
    content: attr(data-end);
    top: auto;
    bottom: .4em;
  }

div.prism-show-language {
  position: relative;
}

div.prism-show-language > div.prism-show-language-label {
  color: black;
  background-color: #CFCFCF;
  display: inline-block;
  position: absolute;
  bottom: auto;
  left: auto;
  top: 0;
  right: 0;
  width: auto;
  height: auto;
  font-size: 0.9em;
  border-radius: 0 0 0 5px;
  padding: 0 0.5em;
  text-shadow: none;
  z-index: 1;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
